<div class="starter-template">
  <div class="container marketing">
    <!--
  <div class="jumbotron">
    <h1>Alle IT-Abläufe auf einen Blick!</h1>
    <p>Finde schnell hilfreiche Anleitungen von Experten und erstelle kinderleicht eigene.</p>
  </div>

<hr class="featurette-divider">
 -->
    <div class="row featurette first-featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Blitzschnell Anleitungen finden.</h2>
        <p class="lead">Suchbegriff eingeben, passende Anleitung auswählen - fertig. Einfach und übersichtlich!</p>
      </div>

      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="./../assets/images/title8.png" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Kinderleicht eigene Anleitungen erstellen.</h2>
        <p class="lead">Mit der patentierten Instruction-Master-Maske kann jeder fantastische Anleitungen bauen!</p>
      </div>

      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="./../assets/images/title11.png" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Anleitungen verwalten und allen zugänglich machen.</h2>
        <p class="lead">Nutzer können ihre Anleitungen bearbeiten während Administratoren hervorragende Anleitungen als Best Practices für alle sichtbar machen können!</p>
      </div>

      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="./../assets/images/title10.png" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

  </div>
</div>
